<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/img/favicon-96x96.png" type="image/png">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="login-container">
    <img src="/img/LOGO-SONIX-LTD.png" alt="Logo de SONIX LTD" class="logo">

    <h1 class="titulo">Iniciar Sesión</h1>

    <form action="/login" method="POST">
      <div class="form-group">
        <input type="text" id="username" name="username" placeholder="Nombre de usuario" required>
      </div>

      <div class="form-group">
        <input type="password" id="password" name="password" placeholder="Contraseña" required>
      </div>

      <div class="form-actions">
        <button type="submit">INGRESAR</button>
      </div>
    </form>
  </div>

  <footer class="login-footer">
    Creado por <strong>BadNerdTechnology</strong> · Renato Johnson Preciado · 62870992 · renatoj.p@outlook.com
  </footer>
  <script>
    // Al entrar al login, limpiamos la alerta de sesión
    sessionStorage.removeItem('alertSoundPlayed');
  </script>
</body>
</html>